#charts {
	padding: 100px 0;
	background: #f6f6f6;
}

.panel-body {
	border-radius: 15px;
	background-color: white;
	margin: auto;
	height: auto;
}

.title-covid {
	text-align: center;
	padding: 50px 50px 0 50px;
}
.head-title{
	font-size: 1.5rem;
	color: black;
	font-weight: 600;
}

.chartline {
	width: 80%;
	height: 300px;
	margin: auto;
	padding: 20px 0 80px 0;
	h3 {
		font-weight: 600;
	}
}

.charts {
	display: flex;
	justify-content: space-evenly;
	.col {
		width: 50%;
	}
}

.logo-chart{
	text-align: center;
	width: 50%;
	margin: auto;
	justify-content: space-evenly;
	display: flex;
}
.konfirmasi .detail{
	color:orange;
}
.meninggal .detail{
	color:red;
}
.sembuh .detail {
	color:green;
}

.detail {
	line-height: 0.1;
	font-weight: 600;
}
.dot-logo {
	height: 64px;
	width: 64px;
	background-color:#e9e9e9;
	border-radius: 50%;
	margin: auto;
}